.idea
.vs
cmake-build*
*.tiff
*.tif
*.ndpi
*.svs
*.vsi
*.pb
*.h5
*.uff
*.xml
*.onnx
*.mapping
*.bin
*build/
*build
*.rcc
*.pro
WSI/
WSI*
Models/
Models*
fastpath.png
tmp/
CMakeFiles/
fastPathology_stuff*
data/Models/*
build/
out/
openslide_test_data/
inference_study/Debug/
inference_study/Release/
CMakeSettings.json
studies/tumour-study/pred_tumour_seg_1.png 
