.idea
.vs
cmake-build*
*.tiff
*.tif
*.svs
*.vsi
*.pb
*.h5
*.uff
*.xml
*.mapping
*.bin
*build/
*build*
WSI/
WSI*
Models/
Models*
fastpath.png
tmp/
Models/
Models*
CMakeFiles/
fastPathology_stuff*
data/Models/*
build/
out/
openslide_test_data/
inference_study/Debug/
inference_study/Release/
